<div class="movimientos-wrapper transacciones-wrapper">
  <div class="component-header">
    <div class="component-route transacciones-route">
      <h1>
        Realizar Transacción
        <a href="/panel">Inicio ></a>
        <a href="#">Transacciones</a>
      </h1>
    </div>
    <div class="change-lang">
      <i class="fa fa-language" aria-hidden="true"></i>
      <span>Idioma: Es</span>
    </div>
  </div>
  <div class="sidebar-body">
    <div class="sidebar-box">
      {{>saldo}}
      <div class="help">
        <h2>Ayuda</h2>
        <p>
          Si tienes dudas, detectas algún error o algo sospechoso ¡no dudes en contactarnos!
        </p>
        <a href="#">Centro de ayuda</a>
      </div>
    </div>
    <div class="movimientos-box transacciones-box">
      <div class="card-input">
        <div class="card-header">
          <h1>Transacción Rápida</h1>
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </div>
        <div class="card-body">
          <p>
            Sólo necesitas el correo de la persona, un concepto y una cantidad
          </p>
          <form action="/adding" method="post" class="input-group">
            <input
              type="email"
              name="correo"
              placeholder="Correo electrónico de la cuenta a la que deseas despositar"
              autofocus
            />
            <div class="input-three">
              <input type="text" name="concepto" placeholder="Concepto" />
              <input type="text" name="cantidad" placeholder="Cantidad" />
              <input type="submit" value="Depositar" />
            </div>
          </form>
        </div>
      </div>
      <div class="card-input">
        <div class="card-header">
          <h1>Depositar a un contacto</h1>
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </div>
        <div class="card-body">
          <p>
            De tu lista de contactos, elige a uno y ¡listo!
          </p>
          <form action="/adding" method="post" class="input-group">
            <select name="correo">
              {{#each contactos}}
              <option value="{{emailContact}}">{{nameContact}}</option>
              {{/each}}
            </select>
            <div class="input-three">
              <input type="text" name="concepto" placeholder="Concepto" />
              <input type="text" name="cantidad" placeholder="Cantidad" />
              <input type="submit" value="Depositar" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>