<div class="error-404">
  <h1>Página no encontrada</h1>
  <span>
    Alguien hizo mal su trabajo y será despedido o intentaste acceder a una ruta
    que no existe
  </span>
  <img src="/assets/img/error.png" alt="">
  <a href="/panel">Volver al inicio</a>
</div>