<div class="content">
  <h1>¿Cómo funciona?</h1>
  <p style="text-align: center;">¿Aún no conoces la App VANK? <a href="#">Descúbrela hoy</a></p>
  <p>
    Con la App de VANK haz tus operaciones de forma sencilla y segura desde tu
    celular o computadora. Usar la App de VANK móvil es gratis, los datos van
    por nuestra cuenta.
  </p>
  <h2>Maneja tu dinero desde donde estés</h2>
  <div class="content-box">
    Puedes realizar transferencias bancarias desde la App, solo necesitas
    ingresar el número de tarjeta, correo o el número de tu cuenta. Así como
    pagos de tarjeta de crédito en línea de otros bancos. Solicita tu estado de
    cuenta y ábrelo con tu número de cuenta.
  </div>
  <h2>¿Conoces los más de 130 servicios que puedes pagar con la App?</h2>
  <div class="content-box">
    Haz tus pagos de servicios a tiempo y evita recargos. Ingresa a la App y
    hazlo rápidamente a la hora que lo desees, puedes pagar servicios como:
    Agua, luz (CFE), teléfono, TV de paga, gas entre otros, además de comprar
    tarjetas Xbox, Spotify, Netflix y más en formato digital. Recuerda que
    también puedes comprar tiempo aire de las principales compañías celulares.
    Paga sin tener que salir de casa, hazlo rápido a través del pago
    referenciado.
  </div>
  <h2>¿Aún no tienes una cuenta?</h2>
  <div class="content-box">
    Abrir una de forma online, es muy fácil y rápido, en tan solo unos minutos
    con tus datos básicos, ábrela desde cualquier parte de México y a la hora
    del día que quieras sin necesidad de ir a sucursal. Si ya formas parte de
    VANK activa tu App con tu correo para total seguridad de tu cuenta digital.
    Si prefieres tener asesoría personalizada puedes asistir a la sucursal más
    cercana para disfrutar de todos los beneficios de la App. Cobra y paga
    fácilmente con tu celular Desde tu App de banca móvil puedes cobrar y pagar
    con código QR o directamente al número celular sin ningún costo. Ahora
    puedes activar el cobro por proximidad y paga a alguien cerca de ti.
  </div>
</div>