<div class="content">
  <h1>Ayuda</h1>
  <p>Te recomendamos visitar
    <a href="#">Centro de Ayuda</a>
    si tu problema es más específico.
  </p>
  <h2>Olvidé mis claves de VANK</h2>
  <p>Si no recuerdas o bloqueaste alguna de tus claves, te recomendamos llevar a
    cabo los siguientes pasos:
  </p>
  <div class="content-box">
    <ul>
      <li>
        Da clic en el botón
        <strong>olvidé mi contraseña </strong>lo que te llevará a la pantalla de
        definición de nuevas claves
      </li>
      <li>
        Ingresa los datos solicitados y da clic en el botón Continuar
      </li>
      <li>
        Genera las claves de acceso (alfanuméricas de 7 a 10 caracteres)
      </li>
      <li>
        En caso de no reunir alguno de estos requisitos, el sistema enviará una
        alerta
      </li>
      <li>
        Da clic en el botón Aceptar
      </li>
    </ul>
  </div>
  <h2>Perdí mi tarjeta</h2>
  <div class="content-box">
    <ul>
      <li>
        Seleccionas la opción 1 del menú TARJETAS y selecciona pérdida de
        tarjeta para reportar por robo o extravío tus Tarjetas
      </li>
      <li>
        Te pedirán el número de tu Tarjeta de Crédito y nombre del titular
      </li>
      <li>
        El banco se hará responsable de este reporte a partir de la recepción de
        la solicitud.
      </li>
      <li>
        Tu tarjeta será dada de baja u reportada si en un plazo de 24 horas la
        tarjeta no es solicitada para renovar será cancelada permanente mente
      </li>
      <li>
        Un mes después si el solicitante pide automáticamente, se generará una
        Nueva Tarjeta con un número diferente, la cual te será entregada a los 7
        días hábiles
      </li>
    </ul>
  </div>
  <h2>Quejas y reclamaciones</h2>
  <p>Contáctanos desde cualquier parte de la República mexicana al vía correo
    electrónico: vankTrans@vankapp.com o al teléfono: 55 9877 6467 de lunes a
    viernes de 08:30 a 17:30 horas. Te solicitamos anexar la carta reclamo
    firmada, identificación oficial vigente y evidencia, en caso de contar con
    ella. También puedes visitarnos con tu documentación en nuestras oficinas de
    la Ciudad de México o el área metropolitana</p>
</div>