<div class="login-wrapper">
  <div class="expo-info">
    <h1>Transacciones rápidas, seguras y efectivas</h1>
    <p>
      Para dar una mejor solución a las transacciones de dinero, nace Vank App.
      Úsala donde sea, como sea. ¡Hecha para ti!
    </p>
    <button>Comenzar</button>
  </div>
  <div class="login">
    <form>
      <img src="./assets/img/login_header.jpg" alt="" />
      <h2>Iniciar Sesión</h2>
      <div class="input-box">
        <input type="text" placeholder="Correo electrónico" />
        <input type="password" placeholder="Contraseña" />
        <a href="#" class="forgot">¿Olvidaste tu contraseña?</a>
      </div>
      <div class="btn-group">
        <button>Acceder</button>
        <button>Crear Cuenta</button>
      </div>
    </form>
  </div>
</div>