<div class="panel-user">
  <div class="panel-header">
    <h1>Bienvenido, {{user.email}}</h1>
    <div class="change-lang">
      <i class="fa fa-language" aria-hidden="true"></i>
      <span>Idioma: Es</span>
    </div>
  </div>
  <div class="panel-action">
    <div class="panel-box movimientos">
      <h2>Movimientos</h2>
      <div class="box-body">
        <i class="fa fa-clock-o icon" aria-hidden="true"></i>
        <p>
          Revisa tus movimientos, además de un historial completo
        </p>
      </div>
      <div class="box-btn">
        <a href="/movimientos"><button>Revisar movimientos</button></a>
      </div>
    </div>
    <div class="panel-box transacciones">
      <h2>Realizar transacción</h2>
      <div class="box-body">
        <i class="fa fa-money icon" aria-hidden="true"></i>
        <p>
          Realiza transacciones rápidas sin mucho ajetreo. Utiliza cualquier
          método que prefieras
        </p>
      </div>
      <div class="box-btn">
        <a href="/transacciones"><button>Hacer transacción</button></a>
      </div>
    </div>
    <div class="panel-box cartera">
      <h2>Cartera</h2>
      <div class="box-body">
        <i class="fa fa-suitcase icon" aria-hidden="true"></i>
        <p>
          Consulta tu saldo, las tarjetas disponibles en tu cuenta y la
          configuración de la misma
        </p>
      </div>
      <div class="box-btn">
        <button>Revisar cartera</button>
      </div>
    </div>
    <div class="panel-box configuracion">
      <h2>Configuración</h2>
      <div class="box-body">
        <i class="fa fa-wrench icon" aria-hidden="true"></i>
        <p>
          Configura tu perfil, tus datos personales y mantén actualizada toda la
          información relevante
        </p>
      </div>
      <div class="box-btn">
        <button>Hacer cambios</button>
      </div>
    </div>
  </div>
</div>