@charset "UTF-8";
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 24px;
  background-color: white;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  display: block;
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
body::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.change-lang {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 12%;
  color: black;
  font-family: "Quicksand";
  font-size: 1.2vw;
  border: 1px solid #222020;
}
.change-lang span {
  padding: 0.5em;
}

@font-face {
  font-family: "Geo";
  src: url("../assets/fonts/geo.ttf");
}
@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/quicksand.ttf");
}
@font-face {
  font-family: "Gemunu";
  src: url("../assets/fonts/gemunu.ttf");
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #172c47;
  box-shadow: 0px 0px 5px gray;
}
header .navbar-icon {
  display: none;
}
header .logo-img {
  width: 35%;
  margin-left: 2em;
}
header .logo-img h1 {
  font-family: "Geo";
  color: #ffffff;
  font-size: 3rem;
  margin: 0;
  font-weight: lighter;
}
header .logo-img h1 span {
  font-family: "Quicksand", sans-serif;
  color: #e7cece;
  font-size: 1rem;
}
header .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55%;
  justify-content: end;
  margin-right: 2em;
}
header .nav li a {
  display: block;
  font-size: 1rem;
  padding: 1em;
  color: #fff;
  font-family: "Quicksand", cursive;
}
header .nav li a:hover {
  color: #8bb9e1;
}

@media (max-width: 1060px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    z-index: 4;
  }
  header .navbar-icon {
    display: block;
    position: absolute;
    top: 5%;
    right: 10%;
    transform: translate(-5%, -10%);
  }
  header .logo-img {
    margin-top: 2em;
    width: auto;
    margin-left: 0em;
  }
  header .logo-img h1 {
    color: #1d1b1b;
  }
  header .logo-img h1 span {
    display: block;
    color: white;
    background-color: #0074d9;
  }
  header .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    width: 90%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 0px 5px #464141;
    z-index: 5;
    gap: 0;
    margin: 0;
    padding: 0;
  }
  header .nav li {
    display: block;
    width: 100%;
    text-align: center;
  }
  header .nav li a {
    color: #1a1717;
  }
  header .nav li a:hover {
    color: #8bb9e1;
  }

  .wrapper-layer {
    display: none;
    position: fixed;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.747);
    z-index: 1;
  }
}
main {
  width: 100%;
}
main .login-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url(../assets/img/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: left;
  gap: 1em;
}
main .login-wrapper .expo-info {
  width: 50%;
  max-width: 500px;
}
main .login-wrapper .expo-info h1 {
  font-family: "Gemunu", cursive;
  color: #143153;
  font-weight: 600;
}
main .login-wrapper .expo-info p {
  font-family: "Quicksand";
  font-weight: bold;
}
main .login-wrapper .expo-info button {
  display: block;
  padding: 0.5em;
  width: 40%;
  font-family: "Gemunu";
  font-size: 1.5rem;
  color: #fff;
  border: none;
  border-radius: 30px;
  background-color: #161515;
  cursor: pointer;
  transition: 0.5s ease;
}
main .login-wrapper .expo-info button:hover {
  background-color: #1e1e5e;
}
main .login-wrapper .login {
  display: flex;
  align-items: center;
  width: 50%;
  max-width: 400px;
  margin-top: 0.5em;
}
main .login-wrapper .login form {
  width: 85%;
  background-color: #161515;
  box-shadow: 0px 0px 10px black;
}
main .login-wrapper .login form img {
  width: 100%;
  filter: blur(1px);
}
main .login-wrapper .login form h2 {
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
}
main .login-wrapper .login form .input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
main .login-wrapper .login form .input-box input[type=text],
main .login-wrapper .login form .input-box input[type=password] {
  width: 80%;
  margin: 1em;
  margin-bottom: 1.5em;
  padding: 1em;
  border: none;
  border-bottom: 1px solid rgba(233, 224, 224, 0.583);
  background-color: transparent;
  color: #fff;
  font-family: "Gemunu";
  font-style: 1rem;
  outline: none;
}
main .login-wrapper .login form .input-box input[type=text]:focus,
main .login-wrapper .login form .input-box input[type=password]:focus {
  outline: 1px solid #7d8791;
}
main .login-wrapper .login form .input-box .forgot {
  font-size: 0.8rem;
  color: #e7cece;
  font-family: "Quicksand";
}
main .login-wrapper .login form .btn-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1em;
}
main .login-wrapper .login form .btn-group button {
  width: 40%;
  margin: 1em;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2vw;
  border: none;
  padding: 1em;
  border-radius: 30px;
  font-weight: 500;
  cursor: pointer;
}
main .login-wrapper .login form .btn-group button:nth-child(1) {
  background-color: #fff;
  color: #000;
}
main .login-wrapper .login form .btn-group button:nth-child(2) {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
main .login-wrapper .login form .btn-group button:hover {
  font-weight: bold;
}
main .login-wrapper .login form button {
  display: block;
  padding: 1em;
  font-family: "Quicksand", sans-serif;
  background-color: #fff;
  color: #000;
  border-radius: 30px;
  border: none;
  margin: auto;
  margin-bottom: 0.5em;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 1060px) {
  main .login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .login-wrapper .expo-info {
    width: 90%;
  }
  main .login-wrapper .expo-info h1 {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 2em;
  }
  main .login-wrapper .expo-info p {
    font-size: 1rem;
    text-align: center;
  }
  main .login-wrapper .expo-info button {
    margin: auto;
  }
  main .login-wrapper .expo-info button:hover {
    background-color: blue;
  }
  main .login-wrapper .login {
    width: 90%;
  }
  main .login-wrapper .login form {
    width: 100%;
    background-color: #082946;
    box-shadow: 0px 0px 10px black;
  }
  main .login-wrapper .login form img {
    width: 100%;
    filter: blur(1px);
  }
  main .login-wrapper .login form h2 {
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: "Quicksand", sans-serif;
    font-size: 1.5rem;
  }
  main .login-wrapper .login form .input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  main .login-wrapper .login form .input-box input[type=text],
main .login-wrapper .login form .input-box input[type=password] {
    width: 80%;
    margin: 1em;
    margin-bottom: 1.5em;
    padding: 1em;
    border: none;
    border-bottom: 1px solid rgba(233, 224, 224, 0.583);
    background-color: transparent;
    color: #fff;
    font-family: "Gemunu";
    font-style: 1rem;
  }
  main .login-wrapper .login form .input-box input[type=text]:focus,
main .login-wrapper .login form .input-box input[type=password]:focus {
    outline: 1px solid #0074d9;
  }
  main .login-wrapper .login form .input-box .forgot {
    font-size: 0.8rem;
    color: #e7cece;
    font-family: "Quicksand";
  }
  main .login-wrapper .login form .btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1em;
  }
  main .login-wrapper .login form .btn-group button {
    width: 35%;
    margin: 1em;
    font-family: "Quicksand", sans-serif;
    border: none;
    padding: 1em;
    border-radius: 30px;
    font-weight: 500;
    cursor: pointer;
  }
  main .login-wrapper .login form .btn-group button:nth-child(1) {
    background-color: #fff;
    color: #000;
  }
  main .login-wrapper .login form .btn-group button:nth-child(2) {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
  }
  main .login-wrapper .login form .btn-group button:hover {
    font-weight: bold;
  }
  main .login-wrapper .login form button {
    display: block;
    padding: 1em;
    font-family: "Quicksand", sans-serif;
    background-color: #fff;
    color: #000;
    border-radius: 30px;
    border: none;
    margin: auto;
    margin-bottom: 0.5em;
    font-weight: bold;
    cursor: pointer;
  }
}
.panel-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/img/bg_user_panel.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}
.panel-user .panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 95%;
  max-width: 800px;
}
.panel-user .panel-header h1 {
  width: 100%;
  text-align: left;
  font-family: "Quicksand";
  font-size: 1.7rem;
  font-weight: lighter;
  color: black;
}
.panel-user .panel-action {
  width: 95%;
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(2fr);
  grid-template-rows: repeat(2fr);
  gap: 1.5em;
}
.panel-user .panel-action .panel-box {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  padding: 1em;
  border-left: 10px solid #1a4d79;
}
.panel-user .panel-action .panel-box h2 {
  width: 100%;
  text-align: center;
  font-family: "Quicksand";
  font-size: 1.2rem;
  margin: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgba(48, 35, 82, 0.604);
  color: #1a4d79;
}
.panel-user .panel-action .panel-box .box-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.panel-user .panel-action .panel-box .box-body .icon {
  text-align: center;
  font-size: 3.5rem;
  width: 40%;
  color: #2373ba;
}
.panel-user .panel-action .panel-box .box-body p {
  width: 60%;
  font-size: 1rem;
  font-family: "Quicksand";
  font-weight: lighter;
  padding-bottom: 1em;
  color: #1a4d79;
}
.panel-user .panel-action .panel-box .box-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: end;
  gap: 1em;
  width: 100%;
}
.panel-user .panel-action .panel-box .box-btn button {
  font-family: "Quicksand";
  font-weight: bold;
  padding: 1em;
  border: 1px solid #1a4d79;
  color: #1a4d79;
  border-radius: 0px;
  background-color: transparent;
  cursor: pointer;
}
.panel-user .panel-action .panel-box .box-btn button:hover {
  border: 1px solid #370637;
  color: #410b41;
}
.panel-user .panel-action .movimientos {
  grid-column: 1/2;
  grid-row: 1/2;
}
.panel-user .panel-action .transacciones {
  grid-column: 2/2;
  grid-row: 1/2;
}
.panel-user .panel-action .cartera {
  grid-column: 1/2;
  grid-row: 2/2;
}
.panel-user .panel-action .configuracion {
  grid-column: 2/2;
  grid-row: 2/2;
}

@media (max-width: 1060px) {
  .panel-user {
    width: 100%;
  }
  .panel-user .panel-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95%;
    max-width: 1000px;
    margin: auto;
  }
  .panel-user .panel-header h1 {
    width: 100%;
    text-align: left;
    font-family: "Quicksand";
    font-size: 1rem;
    font-weight: lighter;
    color: black;
  }
  .panel-user .panel-action .movimientos {
    grid-column: 1/1;
    grid-row: 1/1;
  }
  .panel-user .panel-action .transacciones {
    grid-column: 1/1;
    grid-row: 2/2;
  }
  .panel-user .panel-action .configuracion {
    grid-column: 1/1;
    grid-row: 3/3;
  }
  .panel-user .panel-action .contactos {
    grid-column: 1/1;
    grid-row: 4/4;
    margin-bottom: 2em;
  }
}
.movimientos-wrapper {
  width: 95%;
  max-width: 1000px;
  margin: auto;
}
.movimientos-wrapper .component-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.movimientos-wrapper .component-header .component-route {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.movimientos-wrapper .component-header .component-route h1 {
  width: 100%;
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  padding: 0.2em;
}
.movimientos-wrapper .component-header .component-route h1 a {
  font-size: 1rem;
  font-weight: lighter;
}
.movimientos-wrapper .component-header .component-route.movimientos-route {
  width: 100%;
}
.movimientos-wrapper .component-header .component-route.movimientos-route h1 {
  border-left: 7px solid red;
}
.movimientos-wrapper .sidebar-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  align-items: flex-start;
}
.movimientos-wrapper .sidebar-body .sidebar-box {
  width: 30%;
}
.movimientos-wrapper .sidebar-body .sidebar-box h2 {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  border: 1px solid rgba(189, 178, 178, 0.522);
  font-size: 1.2rem;
  font-family: "Quicksand";
  font-weight: lighter;
  text-align: center;
  margin: 0.5em;
  background-color: #215079;
  color: #fff;
}
.movimientos-wrapper .sidebar-body .sidebar-box h2 span {
  font-weight: bold;
}
.movimientos-wrapper .sidebar-body .sidebar-box form {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
}
.movimientos-wrapper .sidebar-body .sidebar-box form .filtros {
  width: 70%;
  border: none;
  font-family: "Quicksand";
  outline: none;
  cursor: pointer;
  line-height: 2;
  background-color: #fff;
  padding: 0.5em;
}
.movimientos-wrapper .sidebar-body .sidebar-box form button {
  width: 50%;
  background-color: transparent;
  border: 1px solid #0074d9;
  margin-top: 1em;
  padding: 1em;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
}
.movimientos-wrapper .sidebar-body .sidebar-box form button:hover {
  background-color: #215079;
  color: #fff;
}
.movimientos-wrapper .sidebar-body .sidebar-box .help h2 {
  border: none;
  font-size: 1rem;
}
.movimientos-wrapper .sidebar-body .sidebar-box .help p {
  width: 100%;
  margin: 1em;
  font-size: 1rem;
  color: gray;
  font-family: "Quicksand";
}
.movimientos-wrapper .sidebar-body .sidebar-box .help a {
  width: 100%;
  margin: 1em;
  font-size: 1rem;
  font-family: "Quicksand";
  text-decoration: underline;
}
.movimientos-wrapper .sidebar-body:nth-child(1) {
  width: 30%;
}
.movimientos-wrapper .sidebar-body:nth-child(2) {
  width: auto;
}
.movimientos-wrapper .sidebar-body .badge {
  display: block;
  width: 100%;
  background-color: #9dff005d;
  font-family: "Quicksand";
  text-align: center;
  padding: 0.5em;
}
.movimientos-wrapper .sidebar-body .badge p {
  font-size: 1.5rem;
  color: #a21717;
}
.movimientos-wrapper .sidebar-body .badge a {
  font-size: 1rem;
}
.movimientos-wrapper .sidebar-body .movement-card {
  display: none;
}
.movimientos-wrapper .sidebar-body.tabla table {
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 0.5em;
  font-size: 1rem;
  font-family: "Quicksand";
}
.movimientos-wrapper .sidebar-body.tabla table thead {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.296);
}
.movimientos-wrapper .sidebar-body.tabla table tbody {
  border: 1px solid #e2dbdb;
  font-size: 0.8rem;
}
.movimientos-wrapper .sidebar-body.tabla table tbody tr {
  text-align: center;
}
.movimientos-wrapper .sidebar-body.tabla table tbody tr td:nth-child(1) {
  width: 30%;
}
.movimientos-wrapper .sidebar-body.tabla table tbody tr td:nth-child(7) button {
  padding: 0.5em;
  margin: 0.1em;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.movimientos-wrapper .sidebar-body.tabla table tbody tr td:nth-child(7) button:nth-child(1) {
  color: #0074d9;
}
.movimientos-wrapper .sidebar-body.tabla table tbody tr td:nth-child(7) button:nth-child(2) {
  color: red;
}
.movimientos-wrapper .sidebar-body.tabla table tbody tr td:nth-child(7) button:hover {
  text-decoration: underline;
}
.movimientos-wrapper .sidebar-body.tabla table th,
.movimientos-wrapper .sidebar-body.tabla table td {
  padding: 1em;
}
.movimientos-wrapper .sidebar-body .movimientos-box:nth-child(1) {
  width: 30%;
}
.movimientos-wrapper .sidebar-body .movimientos-box:nth-child(2) {
  width: 70%;
}
.movimientos-wrapper .sidebar-body .movimientos-box.tabla table {
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 0.5em;
  font-size: 1rem;
  font-family: "Quicksand";
  background-color: white;
}
.movimientos-wrapper .sidebar-body .movimientos-box.tabla table thead {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.296);
}
.movimientos-wrapper .sidebar-body .movimientos-box.tabla table tbody {
  border: 1px solid #e2dbdb;
  font-size: 0.8rem;
}
.movimientos-wrapper .sidebar-body .movimientos-box.tabla table tbody tr {
  text-align: center;
}
.movimientos-wrapper .sidebar-body .movimientos-box.tabla table tbody tr td:nth-child(1) {
  width: 30%;
}
.movimientos-wrapper .sidebar-body .movimientos-box.tabla table tbody tr td:nth-child(7) button {
  padding: 0.5em;
  margin: 0.1em;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.movimientos-wrapper .sidebar-body .movimientos-box.tabla table tbody tr td:nth-child(7) button:nth-child(1) {
  color: #0074d9;
}
.movimientos-wrapper .sidebar-body .movimientos-box.tabla table tbody tr td:nth-child(7) button:nth-child(2) {
  color: red;
}
.movimientos-wrapper .sidebar-body .movimientos-box.tabla table tbody tr td:nth-child(7) button:hover {
  text-decoration: underline;
}
.movimientos-wrapper .sidebar-body .movimientos-box.tabla table th,
.movimientos-wrapper .sidebar-body .movimientos-box.tabla table td {
  padding: 1em;
}

.movimiento {
  width: 30%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0px 0px 5px black;
  padding: 1em;
}
.movimiento h1 {
  font-family: "Gemunu", sans-serif;
  text-align: center;
  font-weight: lighter;
}
.movimiento p {
  font-family: "Quicksand", sans-serif;
  font-weight: lighter;
  font-size: 1rem;
}
.movimiento .warning {
  display: block;
  width: 100%;
  background-color: rgba(201, 201, 25, 0.726);
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}
.movimiento .movimiento-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.movimiento .movimiento-btn a,
.movimiento .movimiento-btn button {
  width: 50%;
  display: block;
  padding: 1em;
  font-size: 1.2rem;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
}
.movimiento .movimiento-btn button {
  background-color: #23a22d;
  border: none;
  color: #fff;
  font-size: 0.9rem;
}
.movimiento .movimiento-btn button:hover {
  background-color: #177b1f;
}

@media (max-width: 1060px) {
  .movimientos-wrapper .component-header .component-route h1 a {
    display: block;
  }
  .movimientos-wrapper .sidebar-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .movimientos-wrapper .sidebar-body .sidebar-box {
    width: 90%;
  }
  .movimientos-wrapper .sidebar-body:nth-child(1) {
    width: 90%;
  }
  .movimientos-wrapper .sidebar-body:nth-child(2) {
    width: 90%;
  }
  .movimientos-wrapper .sidebar-body .movement-card {
    display: grid;
    font-family: "Quicksand", sans-serif;
    font-size: 0.8rem;
    width: 100%;
    border: 1px solid rgba(126, 112, 112, 0.433);
    padding: 0.5em;
  }
  .movimientos-wrapper .sidebar-body .movement-card .movement-card_header {
    grid-column: 1/2;
  }
  .movimientos-wrapper .sidebar-body .movement-card .movement-card_header .concepto {
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    color: #554040;
    margin: 0.3em;
  }
  .movimientos-wrapper .sidebar-body .movement-card .movement-card_body {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .movimientos-wrapper .sidebar-body .movement-card .movement-card_body .cantidad {
    width: 40%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    color: #53149b;
    margin: 0.3em;
  }
  .movimientos-wrapper .sidebar-body .movement-card .movement-card_footer {
    grid-column: 1/2;
    grid-row: 3/3;
  }
  .movimientos-wrapper .sidebar-body .movement-card .movement-card_footer .tipo {
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    color: black;
    margin: 0.3em;
  }
  .movimientos-wrapper .sidebar-body .movement-card .movement-card_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2/2;
    grid-row: 3/3;
    grid-row: span 3;
    width: 25%;
  }
  .movimientos-wrapper .sidebar-body .movement-card .movement-card_btn a {
    display: block;
    padding: 0.5em;
  }
  .movimientos-wrapper .movimientos-box:nth-child(1) {
    width: 90%;
  }
  .movimientos-wrapper .movimientos-box:nth-child(2) {
    width: 85% !important;
  }
  .movimientos-wrapper .movimientos-box.tabla table {
    display: none;
  }
}
.transacciones-wrapper .component-header .component-route.transacciones-route {
  width: 100%;
}
.transacciones-wrapper .component-header .component-route.transacciones-route h1 {
  border-left: 7px solid #9DD664;
}
.transacciones-wrapper .card-input {
  display: block;
  width: 100%;
  background-color: #e4dcdc;
}
.transacciones-wrapper .card-input:nth-child(2) {
  margin-top: 2em;
  margin-bottom: 2em;
}
.transacciones-wrapper .card-input .card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: "Quicksand";
  background-color: #fff;
  box-shadow: 0px -2px 5px rgba(38, 36, 36, 0.35);
  cursor: pointer;
}
.transacciones-wrapper .card-input .card-header h1 {
  width: 75%;
  font-size: 1.5rem;
  text-align: left;
}
.transacciones-wrapper .card-input .card-header .fa-chevron-down {
  text-align: right;
  width: 20%;
}
.transacciones-wrapper .card-input .card-body {
  border: 1px solid rgba(153, 131, 131, 0.282);
  padding: 1em;
}
.transacciones-wrapper .card-input .card-body p {
  width: 100%;
  margin: auto;
  font-size: 1rem;
  font-family: "Quicksand";
  color: #494141;
}
.transacciones-wrapper .card-input .card-body .warning {
  display: block;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  background-color: rgba(255, 255, 0, 0.474);
  margin: 1em;
  padding: 1em;
}
.transacciones-wrapper .card-input .card-body .input-group {
  width: 100%;
}
.transacciones-wrapper .card-input .card-body .input-group input[type=text],
.transacciones-wrapper .card-input .card-body .input-group input[type=number],
.transacciones-wrapper .card-input .card-body .input-group input[type=email],
.transacciones-wrapper .card-input .card-body .input-group input[type=submit] {
  padding: 1em;
  border: 1px solid rgba(153, 131, 131, 0.282);
  margin: 1em;
  margin-left: 0;
  outline: none;
  font-family: "Quicksand";
  font-weight: lighter;
}
.transacciones-wrapper .card-input .card-body .input-group input[type=text]:focus,
.transacciones-wrapper .card-input .card-body .input-group input[type=number]:focus,
.transacciones-wrapper .card-input .card-body .input-group input[type=email]:focus,
.transacciones-wrapper .card-input .card-body .input-group input[type=submit]:focus {
  border: 1px solid #0074d9;
}
.transacciones-wrapper .card-input .card-body .input-group input[type=email] {
  width: 90%;
  margin: auto;
  margin-top: 1em;
}
.transacciones-wrapper .card-input .card-body .input-group input[type=submit] {
  background-color: #3556ca;
  color: #fff;
  cursor: pointer;
}
.transacciones-wrapper .card-input .card-body .input-group input[type=submit]:hover {
  background-color: #0074d9;
}
.transacciones-wrapper .card-input .card-body .input-group select {
  display: block;
  margin-top: 1em;
  width: 90%;
  padding: 0.5em;
  font-family: "Quicksand", sans-serif;
  outline: none;
  line-height: 2;
}

@media (max-width: 1060px) {
  .transacciones-wrapper .sidebar-body:nth-child(2) {
    width: 100%;
  }
  .transacciones-wrapper .sidebar-body .sidebar-box h2 {
    margin: 0;
  }
}
.cartera-wrapper .component-header .component-route.cartera-route {
  width: 85%;
}
.cartera-wrapper .component-header .component-route.cartera-route h1 {
  border-left: 7px solid #6498D6;
}

.cartera-wrapper .card-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 1em;
  margin-top: 0.5em;
  background-color: #f2f2f7;
  border: 1px solid rgba(213, 201, 201, 0.555);
}
.cartera-wrapper .card-user .fa-user-circle {
  width: 30%;
  font-size: 8rem;
}
.cartera-wrapper .card-user .user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: start;
  font-family: "Quicksand";
  width: 100%;
}
.cartera-wrapper .card-user .user-info h3 {
  font-size: 1rem;
  margin: 0.5em;
  font-weight: 600;
}
.cartera-wrapper .card-user .user-info h3 span {
  font-size: 1rem;
  padding: 0.4em;
  font-weight: lighter;
}
.cartera-wrapper .card-user .user-info .user-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.cartera-wrapper .card-user .user-info .user-actions .fa-wrench {
  width: 50%;
  padding: 0.5em;
  font-size: 0.8rem;
  color: #0074d9;
  cursor: pointer;
}
.cartera-wrapper .card-user .user-info .user-actions .fa-wrench span {
  font-family: "Quicksand";
  padding-left: 0.5em;
}
.cartera-wrapper .card-user .user-info .user-actions a {
  width: 50%;
  text-align: right;
  font-size: 0.8rem;
  color: red;
  font-weight: bold;
}
.cartera-wrapper .user-cards {
  width: 90%;
  font-family: "Quicksand";
}
.cartera-wrapper .user-cards h2 {
  font-size: 1.2rem;
  margin: 0.5em;
  margin-left: 0;
}
.cartera-wrapper .user-cards span {
  display: inline-block;
  padding: 1em;
  border: 1px solid rgba(192, 183, 183, 0.726);
  font-size: 0.9rem;
  cursor: pointer;
}
.cartera-wrapper .user-cards span .fa-cc-mastercard,
.cartera-wrapper .user-cards span .fa-cc-visa {
  color: #0074d9;
}

.signup-wrapper {
  background: url(../assets/img/bg_signup.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.signup-wrapper form {
  width: 90%;
  max-width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #082946;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 1em;
}
.signup-wrapper form h1 {
  font-family: "Quicksand";
  font-size: 1.5rem;
  text-align: center;
  font-weight: lighter;
  color: #fff;
}
.signup-wrapper form a {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  color: #fff;
}
.signup-wrapper form .input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signup-wrapper form .input-group input[type=email],
.signup-wrapper form .input-group input[type=text],
.signup-wrapper form .input-group input[type=password] {
  width: 100%;
  border: none;
  border: 1px solid rgba(233, 224, 224, 0.303);
  background-color: transparent;
  padding: 1em;
  font-family: "Gemunu";
  font-size: 1rem;
  color: white;
  margin-top: 1em;
}
.signup-wrapper form .input-group input[type=email]::placeholder,
.signup-wrapper form .input-group input[type=text]::placeholder,
.signup-wrapper form .input-group input[type=password]::placeholder {
  color: rgba(255, 255, 255, 0.659);
}
.signup-wrapper form .input-group input[type=email]:focus,
.signup-wrapper form .input-group input[type=text]:focus,
.signup-wrapper form .input-group input[type=password]:focus {
  outline: 1px solid #3c96c0;
}
.signup-wrapper form .input-group.two {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
.signup-wrapper form .input-group.two input[type=text] {
  width: 50%;
}
.signup-wrapper form .input-group.two select {
  width: 50%;
  padding: 1em;
  margin-top: 1em;
  font-family: "Quicksand";
  font-size: 1rem;
  border: none;
  appearance: none;
  background-color: transparent;
  color: #d5c3c3;
  border: 1px solid #aa9b9b;
  cursor: not-allowed;
}
.signup-wrapper form .input-group .input-checkbox {
  position: relative;
  display: block;
  align-items: center;
  color: #fff;
  font-family: "Quicksand";
  margin-top: 1em;
  margin-bottom: 10px;
}
.signup-wrapper form .input-group .input-checkbox input,
.signup-wrapper form .input-group .input-checkbox .input-checkbox_box {
  position: absolute;
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;
  outline: 1px solid transparent;
}
.signup-wrapper form .input-group .input-checkbox input {
  cursor: pointer;
  opacity: 0;
}
.signup-wrapper form .input-group .input-checkbox input:checked ~ label .input-checkbox_box {
  background-color: #7018b8;
}
.signup-wrapper form .input-group .input-checkbox input:active ~ label {
  top: 1px;
}
.signup-wrapper form .input-group .input-checkbox input:not(:disabled):focus ~ label .input-checkbox_box, .signup-wrapper form .input-group .input-checkbox input:not(:disabled):hover ~ label .input-checkbox_box {
  outline: 1px solid #1c8df0;
}
.signup-wrapper form .input-group .input-checkbox input:disabled ~ label {
  color: #0074d9;
  cursor: not-allowed;
}
.signup-wrapper form .input-group .input-checkbox input:disabled ~ label .input-checkbox_box {
  border: 2px solid #0074d9;
}
.signup-wrapper form .input-group .input-checkbox input:disabled:checked ~ label .input-checkbox_box {
  background-color: #0074d9;
}
.signup-wrapper form .input-group .input-checkbox label {
  position: relative;
  display: flex;
  padding-top: 3px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.signup-wrapper form .input-group .input-checkbox .input-checkbox_box {
  margin-right: 12px;
  pointer-events: none;
  border: 2px solid #1c8df0;
  transition: all 0.2s ease-in-out;
}
.signup-wrapper form .input-group .input-checkbox .input-checkbox_box::after {
  position: relative;
  top: 2px;
  left: 4px;
  display: inline-block;
  width: 16px;
  height: 13px;
  content: "";
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><g fill='none' fill-rule='evenodd'><path d='M0 0h20v20H0z'/><path fill='%23ffffff' d='M1 10.243L7.321 17 19 4.763 17.156 3 7.321 13.346l-4.477-4.76z'/></g></svg>");
  background-repeat: no-repeat;
}
.signup-wrapper form .input-group .input-checkbox .input-checkbox_content {
  margin-left: 32px;
}
.signup-wrapper form .input-group .input-checkbox + .input-checkbox {
  margin-top: 2rem;
}
.signup-wrapper form .btn-group a {
  display: block;
  width: 100%;
  font-family: "Gemunu";
  font-size: 1rem;
  text-align: center;
  color: #0074d9;
  margin-top: 2em;
}
.signup-wrapper form .btn-group a:hover {
  color: gray;
}
.signup-wrapper form .btn-group button {
  display: block;
  margin: auto;
  padding: 1em;
  font-family: "Quicksand";
  background-color: #0074d9;
  color: #fff;
  border: 0px;
  margin-top: 1em;
  border-radius: 10px;
  cursor: pointer;
}
.signup-wrapper form .btn-group button:hover {
  color: #b4d1eb;
}

@media (max-width: 1060px) {
  .signup-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: url(../assets/img/bg_signup.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .signup-wrapper form {
    display: block;
    width: 80%;
  }
}
.swal-button--confirm {
  background: #345a94;
}

.component-header .component-route.config-route {
  width: 100%;
}
.component-header .component-route.config-route h1 {
  border-left: 7px solid #000;
}

.sidebar-body {
  margin-bottom: 3em;
}
.sidebar-body .configuration-wrapper {
  display: block;
  width: 30%;
  background-color: #d7d7e1;
  border: 1px solid rgba(107, 94, 94, 0.268);
  box-shadow: inset 0px 0px 3px white;
}
.sidebar-body .configuration-wrapper .user-information-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5em;
  min-width: 250px;
}
.sidebar-body .configuration-wrapper .user-information-card .fa-user-circle {
  display: block;
  width: 100%;
  font-size: 3em;
  text-align: center;
  color: #413535;
  text-align: center;
  background-color: lavender;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.sidebar-body .configuration-wrapper .user-information-card .information-card_header {
  width: 100%;
  text-align: right;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
}
.sidebar-body .configuration-wrapper .user-information-card .information-card_header button {
  color: #8181e9;
  padding: 0.5em;
  border: 1px solid blue;
  background-color: transparent;
  cursor: pointer;
  transition: 0.5s ease;
}
.sidebar-body .configuration-wrapper .user-information-card .information-card_header button:hover {
  background-color: #0074d9;
  color: #fff;
}
.sidebar-body .configuration-wrapper .user-information-card .information-card_header a {
  display: block;
  font-size: 1rem;
  color: red;
}
.sidebar-body .configuration-wrapper .user-information-card span,
.sidebar-body .configuration-wrapper .user-information-card input[type=text],
.sidebar-body .configuration-wrapper .user-information-card input[type=email],
.sidebar-body .configuration-wrapper .user-information-card input[type=password] {
  display: block;
  width: 100%;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 600;
  border: 1px solid rgba(15, 24, 73, 0.548);
  padding-top: 1em;
  padding-bottom: 1em;
  color: #211c7b;
  background-color: #fff;
  margin-top: 1em;
  outline: none;
}
.sidebar-body .configuration-wrapper .user-information-card button {
  display: block;
  padding: 1em;
  background-color: transparent;
  color: #0074d9;
  width: 100%;
  border: 1px solid #0074d9;
  margin-top: 2em;
  cursor: pointer;
  transition: 0.5s ease;
}
.sidebar-body .configuration-wrapper .user-information-card button:hover {
  background-color: #141457;
  color: #fff;
}
.sidebar-body .configuration-wrapper .user-information-card .change-password {
  width: 100%;
}
.sidebar-body .configuration-wrapper .user-information-card .change-password .loading {
  display: none;
}
.sidebar-body .configuration-wrapper .information-card_footer {
  width: 100%;
  background-color: #271635;
}
.sidebar-body .configuration-wrapper .information-card_footer span {
  display: block;
  padding: 0.5em;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 1rem;
}

.movimientos-box .title-contactos {
  width: 100%;
  text-align: center;
  font-family: "Gemunu";
  font-weight: lighter;
}
.movimientos-box .wrapper-contacts {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.movimientos-box .wrapper-contacts .card-contacto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  margin: 1em;
  background-color: #1d1d52;
  box-shadow: 0px 0px 10px gray;
}
.movimientos-box .wrapper-contacts .card-contacto .fa-user {
  display: block;
  padding: 0.5em;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.85);
}
.movimientos-box .wrapper-contacts .card-contacto span {
  font-family: "Quicksand";
  padding: 0.5em;
  font-size: 1rem;
  color: #fff;
}
.movimientos-box .wrapper-contacts .card-contacto form button {
  color: red;
  padding: 0;
  margin: 0;
  margin-top: 1.5em;
  border: none;
}
.movimientos-box .wrapper-contacts .card-contacto form button:hover {
  color: #c51b1b;
}
.movimientos-box .wrapper-contacts .card-information {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #141237;
  box-shadow: 0px 0px 1px blue;
  padding: 0.5em;
  gap: 0.5em;
  width: auto;
  border-top: 5px solid #0e79aa;
}
.movimientos-box .wrapper-contacts .card-information .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
}
.movimientos-box .wrapper-contacts .card-information .icon .icon-inner {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: #fff;
}
.movimientos-box .wrapper-contacts .card-information .icon span {
  display: block;
  width: 100%;
  font-size: 0.8rem;
  font-family: "Quicksand", sans-serif;
  color: white;
  font-weight: bold;
  text-align: center;
}
.movimientos-box .wrapper-contacts .card-information .info-text {
  width: 70%;
}
.movimientos-box .wrapper-contacts .card-information .info-text p {
  font-size: 0.8rem;
  font-family: "Quicksand", sans-serif;
  font-weight: lighter;
  color: #e8dada;
}
.movimientos-box button {
  display: block;
  width: 30%;
  border: 1px solid #1a4dbb;
  font-family: "Quicksand";
  background-color: transparent;
  margin: 1em;
  padding: 1em;
  color: #0074d9;
  cursor: pointer;
}

@media (max-width: 1060px) {
  .sidebar-body .configuration-wrapper {
    display: block;
    width: 90%;
  }

  .movimientos-box button {
    display: block;
    width: 60%;
  }
}
.errors-wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: -100%;
  animation: openUp 0.5s ease forwards, closenUp 0.5s linear 5s forwards;
}
.errors-wrapper .error {
  display: block;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  padding: 0.5em;
  margin-top: 0.5em;
  background-color: #e80f0f;
  border: 1px solid red;
  box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.651);
  cursor: pointer;
}

@keyframes openUp {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
@keyframes closenUp {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}
.content {
  width: 80%;
  max-width: 700px;
  margin: auto;
  margin-bottom: 2em;
}
.content h1,
.content h2,
.content h3 {
  text-align: center;
  font-family: "Gemunu", cursive;
}
.content p {
  font-size: 1.2rem;
  line-height: 2;
  font-family: "Quicksand", sans-serif;
}
.content .content-box {
  display: block;
  padding: 1em;
  background-color: lavender;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  line-height: 2;
}
.content .content-box li,
.content .content-box ol {
  list-style: square;
  padding: 0.5em;
  font-size: 1.2rem;
}

.error-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  font-family: "Quicksand", sans-serif;
  padding: 1em;
}
.error-404 img {
  width: 30%;
}
.error-404 span {
  font-style: italic;
  text-align: center;
  font-style: 1.3rem;
  color: red;
}
.error-404 a {
  padding: 1em;
  font-weight: bold;
}

/*# sourceMappingURL=index.css.map */
