@font-face {
    font-family: "Geo";
    src: url("../assets/fonts/geo.ttf");
}

@font-face {
    font-family: "Quicksand";
    src: url("../assets/fonts/quicksand.ttf");
}

@font-face {
    font-family: "Gemunu";
    src: url("../assets/fonts/gemunu.ttf");
}