@use "../util/colors" as colors;
@use "../util/mixins" as mix;

.cartera-wrapper .component-header .component-route {
  &.cartera-route {
    width: 85%;
    h1 {
      border-left: 7px solid colors.$cartera;
    }
  }
}

.cartera-wrapper {
  .card-user {
    @include mix.displayHorizontal;
    width: 90%;
    padding: 1em;
    margin-top: 0.5em;
    background-color: rgb(242, 242, 247);
    border: 1px solid rgba(213, 201, 201, 0.555);
    .fa-user-circle {
      width: 30%;
      font-size: 8rem;
    }
    .user-info {
      @include mix.displayVertical;
      align-items: start;
      font-family: "Quicksand";
      width: 100%;
      h3 {
        font-size: 1rem;
        margin: 0.5em;
        font-weight: 600;
        span {
          font-size: 1rem;
          padding: 0.4em;
          font-weight: lighter;
        }
      }
      .user-actions {
        @include mix.displayHorizontal;
        width: 100%;
        .fa-wrench {
          width: 50%;
          padding: 0.5em;
          font-size: 0.8rem;
          color: #0074d9;
          cursor: pointer;
          span {
            font-family: "Quicksand";
            padding-left: 0.5em;
          }
        }
        a {
          width: 50%;
          text-align: right;
          font-size: 0.8rem;
          color: red;
          font-weight: bold;
        }
      }
    }
  }
  .user-cards {
    width: 90%;
    font-family: "Quicksand";
    h2 {
      font-size: 1.2rem;
      margin: 0.5em;
      margin-left: 0;
    }
    span {
      display: inline-block;
      padding: 1em;
      border: 1px solid rgba(192, 183, 183, 0.726);
      font-size: 0.9rem;
      cursor: pointer;
      .fa-cc-mastercard,
      .fa-cc-visa {
        color: #0074d9;
      }
    }
  }
}
