.component-header {
  .component-route {
    &.config-route {
      width: 85%;
      h1 {
        border-left: 7px solid #000;
      }
    }
  }
}

.sidebar-body {
  margin-bottom: 3em;
  .configuration-wrapper {
    border: 1px solid rgba(107, 94, 94, 0.268);
    box-shadow: inset 0px 0px 3px rgb(101, 100, 112);
    border-radius: 15px;
    .user-information-card {
      padding: 1em;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      min-width: 250px;
      .information-card_header {
        width: 100%;
        text-align: right;
      }
      .fa-user-circle {
        width: 100%;
        font-size: 5em;
        text-align: center;
      }
      p {
        font-family: "Quicksand", sans-serif;
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
      }
    }
    .information-card_footer {
      width: 100%;
      background-color: #0074d9;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      span {
        display: block;
        padding: 0.5em;
        font-family: "Quicksand", sans-serif;
        text-align: center;
        color: #fff;
        font-weight: 500;
        font-size: 1rem;
      }
    }
  }
}

.movimientos-box {
  .title-contactos {
    width: 100%;
    text-align: center;
    font-family: "Gemunu";
    font-weight: lighter;
  }
  .wrapper-contacts {
    display: flex;
    flex-wrap: wrap;
    .card-contacto {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 0.5em;
      margin: 1em;
      background-color: rgb(29, 29, 82);
      box-shadow: 0px 0px 10px gray;
      .fa-user {
        display: block;
        padding: 0.5em;
        font-size: 1.5rem;
        color: rgba(255, 255, 255, 0.85);
      }
      span {
        font-family: "Quicksand";
        padding: 0.5em;
        font-size: 1rem;
        color: #fff;
      }
      form {
        button {
          color: rgb(255, 0, 0);
          padding: 0;
          margin: 0;
          margin-top: 1.5em;
          border: none;
          &:hover {
            color: rgb(197, 27, 27);
          }
        }
      }
    }
    .card-information {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      background-color: #141237;
      box-shadow: 0px 0px 1px blue;
      padding: 0.5em;
      gap: 0.5em;
      width: auto;
      .icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 25%;
        .icon-inner {
          width: 100%;
          text-align: center;
          font-size: 3rem;
          color: #fff;
        }
        span {
          display: block;
          width: 100%;
          font-size: 0.8rem;
          font-family: "Quicksand", sans-serif;
          color: rgb(255, 255, 255);
          font-weight: bold;
          text-align: center;
        }
      }
      .info-text {
        width: 70%;
        p {
          font-size: 0.8rem;
          font-family: "Quicksand", sans-serif;
          font-weight: lighter;
          color: rgb(232, 218, 218);
        }
      }
    }
  }
  button {
    display: block;
    width: 30%;
    border: 1px solid rgb(26, 77, 187);
    font-family: "Quicksand";
    background-color: transparent;
    margin: 1em;
    padding: 1em;
    color: #0074d9;
    cursor: pointer;
  }
}
