{{#if error}}
  <script>
    swal("Error", "{{error}}", "error", { button: "Continuar"});
  </script>
{{/if}}

<div class="errors-wrapper">
  {{#each errors}}
    <span class="error"><i
        class="fa fa-times"
        aria-hidden="true"
        onclick="console.log(e)"
      ></i>&nbsp;{{text}}</span>
  {{/each}}
</div>
